# Windows binaries
*.exe
*.dll

# Visual studio outputs directories
WinQuake/Debug
WinQuake/Release
WinQuake/release_gl
WinQuake/debug_gl

# Visual studio stuff
*.user
*.suo
*.ncb

# Code::Blocks stuff
*.depend
*.layout
obj

# Quake files directory
WinQuake/ID1